.App {
  text-align: center;
  background-color: #5985de;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #5584e2;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ciudades{
  width: 200px;
  height: 200px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(14, 30, 43, 0.5);
  margin: 1%;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fondo{
  
  background-color: #638ad8;
}

.contenedor{
  margin: 2rem;
  display: grid;
  
  grid-template-columns:repeat(4, 310px);
  gap: 15px;
 
  
}

.titulo-com{
  font-family:cursive;
  font-size: 70px;
  text-align: center;
}
.cards{
  
  overflow: hidden;
  box-shadow: 0 2px 20px;
  border-radius:2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition:ease-in;
  background-color: rgb(247, 209, 192);
  font-family:oxygen;
  
}

.cards-description{
  font-family: 'Oxygen', sans-serif;
  padding: 0 1rem;
}

.card-btn{
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  border: 2px white;
  color: rgb(223, 216, 214);
  background-color: rgb(211, 115, 25);
  
}
.card-img{
  height: 12rem;
  width: 100%;
}

.nav{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background-color: #1b3659;
  
}

.barra{
  display: flex;
  margin-right: 40px;
  margin: 10px ;
  
  
}

.barra-item{
  margin: 0 10px;
  text-transform: uppercase;
  color: white;
  list-style: none;
  
}

.logo{
  font-size: 30px;
  font-weight: bold;
  padding: 0 20px;
  line-height: 20px;
  
}